* {
    margin: 0%;
    padding: 0%;
}

body {

    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.Navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 2;

}

.Navbar-s1__title {
    color: #892DE1;

}

.Navbar__s2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px;
    border-radius: 40px;
    width: 60%
}

.Navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
    align-items: center;
    background-color: transparent;


}

.Navbar__s2 input:focus {
    outline: none;

}

.Navbar__s3 {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
    cursor: pointer;

}

/* my learning popup */
.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid 1px;
    width: 250px;
    padding: 20px;
    top: 43px;
    right: 0px;
    border-radius: 10px;
    display: none;

}
.mylearning:hover .mylearning__popup{
    display: block;
}

.keep-shopping{
    justify-self:center;
    margin-top: 10px;
}

.categories {
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
   
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

.categories p {
    border-radius: 50px;
    background-color: #892DE1;
    color: white;
    padding: 10px;
    border: solid #892DE1 1px ;
        
}

.categories p:hover{

    transition: 0.9s;
    background-color: transparent;
    border: solid #892DE1 1px ;
    color: black;
    cursor: pointer;

}

.sale-image img {
    position: relative;

}

.sale-image img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.sale-image__offer{

    width: 400px;
    background-color: white;
    border: solid 1px;
    padding: 20px;
    position: absolute;
    top: 200px;
    left:160px;
    z-index: 1;
    animation-name: zoom;
    animation-duration: 2s;
        animation-fill-mode: forwards;
   
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.Recommended {
    padding: 10px;

}

.Recommended__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    cursor: pointer;
}

.Course-card img {
    width: 100%;
    height: 70%;
}

.Course-card {
    width: 350px;
}

.topics {
    padding: 10px;
    margin-top: 50px;
    
}

.topics__container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    cursor: pointer;


}

.topics__container p {
    border: solid gray 1px;
    border-radius: 50px;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
}

.popular {
    padding: 10px;
    margin-top: 50px;



}

.popular__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    cursor: pointer;
}



.footer {
    background-color: #D3D3D3;
    padding: 10px color: black;
}

.footer__one {

    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    align-items: center;
    margin: 20 px;
    display: flex;
    justify-content: space-between;
}